[submodule "ThirdParty/sdl"]
	path = ThirdParty/sdl
	url = https://github.com/SDL-mirror/sdl
[submodule "ThirdParty/freetype2"]
	path = ThirdParty/freetype2
	url = https://github.com/freetype/freetype2
